[class*="NavBar-plexLogo-3K4YJj NavBarIconButton-button-3V0sVT IconButton-button-30bRLm Link-link-3cHWtJ Link-default-5Qrl3D"] {
    background-image: url("https://stayxnegative.github.io/theme.park/CSS/addons/plex/plex-alt-logo/tte-logo.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
    width: 45px;
}